
{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>{{biog.surname}}, {{biog.first_name}}, <small>{{biog.birth_year}}</small></h1>
<p class="lead">{{biog.notes}}</p>
<h2>{{biog.first_name}}'s Tags</h2>
{% for tag in biog.tags.all %}
<p>Tag: {{tag.tagname}}, Description: {{tag.description}}, Type: {{tag.tag_type}}</p>{% endfor %}

<div class="row">
<div class="col-sm-3 highlight">
<h2>Tags available</h2>
<lead>
Select the tags that match to this biog.
</lead>
<form role="form" action="/biogs/{{biog.id}}/add_tags" method="POST">
{% for tag in tags %}
{% if tag not in biog.tags.all %}
<div class="checkbox">
    <label>
        <input type="checkbox" name="tag_{{tag.id}}" value="{{tag.id}}"> {{tag.tagname}}
    </label>
</div>
{% endif %}
{% endfor %}
{% csrf_token %}
<button type="submit" class="btn btn-default">Save to biog</button>
</form>
</div>
<div class="col-sm-6">
<h2>Snippets</h2>
<p>Snippets relating to selected tags will appear here.</p>
</div>
<div class="col-sm-3 highlight">
<h2>Family Members</h2>
<p>Related Family and Friends appear here.</p>
</div>
</div>
</div>
{% endblock %} 

