
{% extends "biogs/biog_base.html" %}
{% block content %}
<div class="container">
<div class="container">

<div class="jumbotron">
<h2>Add a new biog</h2>
<form class="form-inline" action="{% url 'new_biog' %}" method="POST" name="new_biog_form" id="new_biog_form" role="form">

{% if messages %} {% for message in messages %}
<div class="control-group has-warning">
      <label class="control-label" for="inputWarning1">WARNING!</label>
<div class="control-group has-error">
            <span class="help-block">{{ message }}</span>
        </div>
</div>
{% endfor %}
{% endif %}
<div class="form-group">
    <label for="new_biog_first_name">First Name</label>
    <input type="text" name="new_biog_first_name" class="form-control" id="new_biog_first_name" placeholder="Enter a First Name">
</div>
<div class="form-group">
    <label for="new_biog_surname">Surname</label>
    <input type="text" class="form-control" name="new_biog_surname" id="new_biog_surname" placeholder="Enter a Surname">
</div>
<div class="form-group">
    <label for="new_biog_birth_year">Birth Year</label>
    <input type="text" class="form-control" name="new_biog_birth_year" id="new_biog_birth_year" placeholder="Enter Birth Year">
</div>
<button type="submit" class="btn btn-default">Add Biog</button>
 {% csrf_token %}
</form>
</div>
</div>
<div class="container">
<h2>Existing Biogs</h2>
<table class="table table-bordered table-hover" id="biog_list">
{% for biog in biogs %}
<tr><td><a href="/biogs/{{biog.id}}">{{biog.surname}}, {{biog.first_name}}, {{biog.birth_year}}</a></td></tr>
{% endfor  %}
<!--tr><td>{{new_biog_surname}}, {{new_biog_first_name}}, {{new_biog_birth_year}}</td></tr-->
</table>
</div>
</div>
{% endblock %} 

